html,
body {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  cursor: default;
}

.containerMenu {
  font-size: 24px;
  display: flex;
  width: 100%;
  line-height: 3rem;
  text-align: center;
  margin: 0.5% 0 4%;
}

.menu {
  width: 16%;
  font-size: 1.3vw;
  margin: 0 17%;
  border-bottom: 3px solid black;
}
.menu:hover {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #04005e;
  transition: 1s;
}

.sideBar {
  display: flex;
  margin-bottom: 1%;
}

input {
  font-size: 1vw;
  height: 1.5vw;
  width: 60%;
  border: none;
  border-bottom: 3px solid #04005e;
  margin-left: 1%;
}
input:focus {
  outline: none;
  border-bottom: 3px solid #ff2079;
  transition: 0.3s;
}

.search,
.save {
  font-size: 1vw;
  height: 1.8vw;
  border: none;
  border-radius: 5px;
  background-color: #ff2079;
  color: white;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 3%;
}

.save {
  background-color: #04005e;
  padding: 0 1%;
}

.tableTitle {
  display: flex;
  text-align: center;
  font-size: 0.9vw;
  line-height: 2.5rem;
  width: 99%;
}
.tableTitle > div {
  position: sticky;
  width: 10%;
  background-color: #440bd4;
  letter-spacing: 2px;
  color: white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.tableTitle > .checkbox {
  width: 5%;
}
.tableTitle > .num {
  width: 5%;
}

.table {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.row {
  display: flex;
  text-align: center;
  font-size: 0.9vw;
  line-height: 2.5rem;
}
.row > div {
  width: 10%;
  border: none;
  border: 1px solid black;
  border-top: none;
}
.row > .checkbox {
  width: 5%;
}
.row > .num {
  font-weight: bold;
  width: 5%;
}

.check {
  vertical-align: middle;
}

select {
  border: none;
  width: 100%;
  font-size: 0.9vw;
  line-height: 2.5rem;
  padding-left: 5%;
}
select:focus {
  outline: none;
}
